p {
    color: #5a5a5a;
}
.destacado {
    color: #ff6a00;
}
.cajaprincipal {
    background-color: #ffffff;
    width: 100%;
    height: 2000px;
}
.columnaizquierda {
    background-color: #ffffff;
    height: 500px;
    width: 15%;
    float: left;
    position: sticky;
    top:0px;
}

.columnaderecha {
    background-color: #ffffff;
    height: 100%;
    width: 15%;
    float: left;
}
.columnacentral {
    background-color: #ffffff;
    height: 100%;
    width: 70%;
    float: left;
}
#header {
    text-align: center;
    padding-top: 30px;
    width: 100%;
    height: 100px;
    background-color: #7fbfff;
}
.nav {
    padding-top: 20px;
    text-align: center;
    float: left;
    width: 100%;
    height: 50px;
    background-color: #000000;
}

a {
    color: #ffffff;
    border: solid 1px #000000;
    background-color: #000000;
    margin: 15px;
    text-decoration: none;
}
a:hover {
  background-color: white;
  color: black;             
  font-size: 1.5em;          
}
img {
    width: 300px;
    height: 300px;
    float: left;
}
ul {
    float: left;
}