.cajaprincipal {
    width: 100%;
    height: 2500px;
    background-color: transparent;
}
.header {
    background-color: transparent;
    text-align: center;
    padding-top: 30px;
    width: 100%;
    height: 100px;
}
.titulo_pagina {
    color: #2e7d32;
    margin-top: 40px;
    font-size: 2.2em;
}
.columnaizquierda {
    height: 500px;
    width: 15%;
    float: left;
    position: sticky;
    top:0px;
    background-color: transparent;
}

.columnaderecha {
    height: 100%;
    width: 15%;
    float: left;
    background-color: transparent;
}
.columnacentral {
    height: 100%;
    width: 70%;
    float: left;
    background-color: transparent;
}
.caja_informacion {
    background-color: #e0e0d1; /* tono suave */
    border-left: 5px solid #2e7d32;
    padding: 15px;
    margin: 20px 0;
}
.nav {
    float: left;
    width: 100%;
    height: 50px;
}
nav.menu {
    background: linear-gradient(to right, #2e7d32, #8d6e63); /* verde bosque → marrón tierra */
    padding: 15px;
    text-align: center;
}

nav.menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav.menu a:hover {
    text-decoration: none;
}
ul a{
    color: #2e7d32;
    font-size: 1.2em;
    text-decoration: none;
}
img {
    width: 300px;
    height: 300px;
    float: left;
}
ul {
    float: left;
}