* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    box-sizing: content-box;
}

body {
    margin: 0;
}
.caja-contenedor-principal {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 7% 1fr 8%;
    grid-template-areas: 
        "header header header header"
        "l-content r-content r-content r-content"
        "footer footer footer footer"
    ;
    gap: 1vh;
    padding: 0.5vh;
}
/*Cabecera de la pagina*/
.header {
    grid-area: header;
    position: relative;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: space-between; /* Separa los grupos de elementos */
    background-color: #000;
    padding: 8px 16px;
    color: #b3b3b3; /* Gris claro de Spotify */
}
.header img {
    width: 30px;
    height: 30px;
}
/*Elementos de la cabecera*/
.logo {
    background-color: #ffffff;
    height: auto;
    width: auto;
    border-radius: 50%;
    justify-self: flex-start;
}
.casa {
    background-color: #1f1f1f;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buscador {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
    max-width: 500px;
    margin: 0 20px;
}
.barra-buscador {
    background: transparent;
    border: none;
    color: white;
    padding: 8px;
    width: 100%;
    outline: none;
}
.barra {
    display: flex;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 500px;
    padding: 6px 12px;
    flex-grow: 1;
    border: 1px solid transparent;
}
.barra:hover {
    background-color: #2a2a2a;
    border-color: #333;
}
.header-button {
    display: flex;
    align-items: center;
    gap: 24px;
}
.sec-derecha {
    text-decoration: none;
    color: #b3b3b3;
    font-weight: bold;
    font-size: 14px;
}
.sec-derecha:hover {
    color: white;
    transform: scale(1.04);
}
.inicio {
    background-color: white;
    color: black;
    border-radius: 500px;
    padding: 12px 32px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: transform 0.1s;
}
.inicio:hover {
    transform: scale(1.05);
}
/*Lado izquierda*/
.contenedor-izquierdo {
    grid-area: l-content;
    background-color: rgb(243, 39, 192);
    border-radius: 5px;
    flex-basis: 350px;
    background-color: #121212;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
/*Contenido lado izquierdo*/
.sec-izq-cab {
    display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
}
.texto-biblioteca {
    color: #b3b3b3;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 12px;
}

.boton-crear-biblioteca {
    background-color: #1f1f1f;
    color: #c7c7c7;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 999px;
}
.boton-crear-biblioteca:hover {
    background-color: #353535;
}
.sec-izq-caja {
    background-color: #1f1f1f;
    border-radius: 8px;
    padding: 20px;
}
.sec-izq-caja button {
    background-color: white;
    color: black;
    border-radius: 500px;
    padding: 8px 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: transform 0.1s;
}
.sec-izq-caja button:hover {
    transform: scale(1.05);
}
.titulo-izq {
            color: white;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 16px;
}

.descripcion-izq {
    color: white;
    font-size: 14px;
    margin-bottom: 16px;
}
.sec-izq-pie {
    margin-top: auto;
    padding-bottom: 32px;
}
.contenedor-enlaces {
    display: flex;
    flex-wrap: wrap; /* Para que se amontonen como en la foto */
    gap: 12px 15px;
    margin-bottom: 32px;
}
.contenedor-enlaces a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 11px;
}
.contenedor-enlaces a:hover {
    text-decoration: underline;
}
.boton-idioma-global {
    background-color: transparent;
    color: white;
    border: 1px solid #878787;
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    width: fit-content;
}

.boton-idioma-global:hover {
    border-color: white;
    transform: scale(1.04);
}
.boton-idioma-global img {
    width: 2vh;
    height: 2vh;

}
/*Lado derecho*/
.contenedor-derecho {
    grid-area: r-content;
    background-color: #121212;
    border-radius: 5px;
    overflow: scroll;
    padding: 20px 0 20px 20px; 
}
/*Contenido lado derecho*/
.cabecera-cancion {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}
.cabecera-cancion h2 { 
    color: #b3b3b3;
    font-size: 1.4rem; 
    margin: 0;
}
.cabecera-cancion a {
    text-decoration: none;
}
.cabecera-cancion a:hover {
    text-decoration: underline;
    color: #b3b3b3;
}
.mostrar-todos { 
    color: #b3b3b3; 
    font-size: 0.85rem; 
    text-decoration: none; 
    font-weight: bold; 
    margin-right: 30px;
}
.mostrar-todos:hover { 
    text-decoration: underline; 
}
.contenido-cancion {
    display: flex;   
    gap: 24px;    
    overflow-x: auto;          
    overflow-y: hidden;   
    padding-bottom: 10px;      

}
.contenido-cancion::-webkit-scrollbar {
    display: none;
}
.tarjeta {
    background-color: #181818;
    padding: 16px;
    border-radius: 9px;
    cursor: pointer;
}
.tarjeta:hover { 
    background-color: #282828; 
}

.tarjeta img {
    width: 16vh;
    height: 16vh;
    border-radius: 4px;
    margin-bottom: 12px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.5);
}
.mini {
    background-color: #b3b3b3;
    color: #121212;
    padding: 0 3px;
    font-size: 0.6rem;
    border-radius: 2px;
    margin-right: 5px;
    font-weight: bold;
    vertical-align: middle;
}
/* Estilo específico para la sección de Artistas */


.tarjeta h3 {
    font-size: 0.95rem;
    color: #b3b3b3;
    margin: 0 0 8px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tarjeta p {
    color: #b3b3b3;
    font-size: 0.8rem;
    margin: 0;
    font-weight: 500;
}
img {
    width: 16vh;
    height: 16vh;
}
img.artista {
    border-radius: 50%;
}
/*Pie de la pagina*/
.footer {
    grid-area: footer;
    background: linear-gradient(to right, #ae2896, #509bf5);
    border-radius: 5px;
    overflow: hidden;
    padding: 0 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.footer p {
    font-size: 0.8rem;
    margin: 0;
}
.footer button {
    background-color: white;
    color: black;
    border-radius: 500px;
    padding: 12px 32px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: transform 0.1s;
}
.footer button:hover {
    transform: scale(1.05);
}