* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.caja-contenedor-principal {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 7% 1fr 8%;
    grid-template-areas: 
        "header header header header"
        "l-content r-content r-content r-content"
        "footer footer footer footer"
    ;
    gap: 1vh;
    padding: 0.5vh;
}
/*Cabecera de la pagina*/
.header {
    grid-area: header;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(63, 196, 216);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header img {
    width: 30px;
    height: 30px;
}
/*Elementos de la cabecera*/
.logo {
    background-color: #ffffff;
    height: auto;
    width: auto;
    border-radius: 50%;
    justify-self: flex-start;
}
.buscador {
    background-color: #501d1d; 
    height: 90%; 
    width: 30%; 
    border-radius: 999px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0 0.4%;  
    color: #721414; 
    font-size: 15px; gap: 10px;
    align-self: center;
}
.header-button {
    background-color: #721414;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.sec-derecha {
    padding: 1em;
    background-color: black;
    color: grey;
}
.inicio {
    padding: 1em;
    background-color: white;
}
/*Lado izquierda*/
.contenedor-izquierdo {
    grid-area: l-content;
    background-color: rgb(243, 39, 192);
    border-radius: 5px;
    overflow: hidden;
}
/*Lado derecho*/
.contenedor-derecho {
    grid-area: r-content;
    background-color: rgb(185, 217, 44);
    border-radius: 5px;
    overflow: scroll;
}
/*Contenido lado derecho*/
.contenido-cancion {
    display: flex;
    flex-direction: row;
}
img {
    width: 16vh;
    height: 16vh;
}
img.artista {
    border-radius: 50%;
}
/*Pie de la pagina*/
.footer {
    grid-area: footer;
    background: linear-gradient(to right, #ae2896, #509bf5);
    border-radius: 5px;
    overflow: hidden;
    padding: 0 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

button {
    border-radius: 999px;
    height: 80%;
    padding: 0.4% 1%;
    border: none;
    font-size: 0.7rem;
    font-weight: 800;
}
.footer p {
    font-size: 0.8rem;
    margin: 0;
}