* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.caja-contenedor-principal {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 7% 1fr 8%;
    grid-template-areas: 
        "header header header header"
        "l-content r-content r-content r-content"
        "footer footer footer footer"
    ;
    gap: 1vh;
    padding: 0.5vh;
}
.header {
    grid-area: header;
    background-color: aqua;
    border-radius: 5px;
    overflow: hidden;
}
.contenedor-izquierdo {
    grid-area: l-content;
    background-color: rgb(243, 39, 192);
    border-radius: 5px;
    overflow: hidden;
}
.contenedor-derecho {
    grid-area: r-content;
    background-color: rgb(185, 217, 44);
    border-radius: 5px;
    overflow: scroll;
}
.footer {
    grid-area: footer;
    background: linear-gradient(to right, #ae2896, #509bf5);
    border-radius: 5px;
    overflow: hidden;
}
.contenido-cancion {
    display: flex;
    flex-direction: row;
}
img {
    width: 16vh;
    height: 16vh;
}
img.artista {
    border-radius: 50%;
}