body {
    margin: 0;
    padding: 0;
    background-color: #6362d3;
}
.header-fijo {
    color: white;
    text-align: center;
    padding-top: 20px;
    margin: 0;
    width: 100%;
    height: 40px;
    background-color: #4bae51;
}
.contenedor-lienzo {
    height: 3000px;
    margin: 30px 70px 0;
    background-color: white;
    border: 5px dashed gray;
    padding: 10px 20px;
}
.caja-float {
    float: left;
    width: 125px;
    height: 80px;
    background-color: #ff9800;
    border: 2px solid black;
    text-align: center;
}
.caja-relative {
    position: relative;
    width: 150px;
    height: 100px;
    background-color: #2197f2;
    border: 2px solid black;
    margin: 50px 0 0 80px;
    text-align: center;
}
.caja-absolute-1 {
    position: absolute;
    background-color: #e91e63;
    width: 150px;
    height: 100px;
    border: 2px solid black;
    z-index: 1;
    margin: -40px 0 0 280px;
    text-align: center;
}
.caja-absolute-2 {
    position: absolute;
    background-color: #07bcd4;
    width: 150px;
    height: 100px;
    max-width: 200px;
    max-height: 100px;
    border: 2px solid black;
    z-index: 10;
    margin: -20px 0 0 300px;
    overflow: visible;
    text-align: center;
    padding: 10px 10px 0 10px;
}