body {
    margin: 0;
    padding: 0;
    background-color: #6362d3;
}
p {
    font-size: 1.4em;
    font-weight: 400;
}
.caja {
    width: 140px;
    height: 100px;
    border: 2px solid black;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
}
.header-fijo {
    position: fixed;
    color: white;
    text-align: center;
    padding-top: 20px;
    margin: 0;
    width: 100%;
    height: 40px;
    background-color: #4bae51;
    z-index: 11;
}
.contenedor-lienzo {
    position: absolute;
    height: 2000px;
    margin: 90px 70px 0;
    background-color: white;
    border: 5px dashed gray;
    padding: 10px 20px;
}
.caja-float {
    float: left;
    background-color: #ff9800;
}
.caja-relative {
    position: relative;
    background-color: #2197f2;
    margin: 70px 0 0 80px;
    padding-top: 40px;
    overflow: visible;
}
.caja-absolute-1 {
    position: absolute;
    background-color: #e91e63;
    z-index: 1;
    margin: -30px 0 0 280px;
}
.caja-absolute-2 {
    position: absolute;
    background-color: #07bcd4;
    z-index: 10;
    margin: 0px 0 0 300px;
    overflow: visible;
}
.seccion-sticky {
    background-color: #e0f7fb;
    height: 700px;
}
.caja-sticky {
    position: sticky;
    top: 80px;
    background-color: #ffea3b;
    z-index: 10;
}